[defaults]
inventory = inventory
remote_user = devops
collections_path = ./:/usr/share/ansible/collections

[privilege_escalation]
become = false
become_method = sudo
become_user = root
become_ask_pass = false

[galaxy]
#server_list = community, rh-certified, validated, galaxy
server_list = community, rh-certified, validated

[galaxy_server.community]
url=https://aap.lab.example.com/pulp_ansible/galaxy/community/
token=eab7d7946a6e480d366fccd6bc6ecc14827ed9a6

[galaxy_server.rh-certified]
url=https://aap.lab.example.com/pulp_ansible/galaxy/rh-certified/
token=eab7d7946a6e480d366fccd6bc6ecc14827ed9a6

[galaxy_server.validated]
url=https://aap.lab.example.com/pulp_ansible/galaxy/validated/
token=eab7d7946a6e480d366fccd6bc6ecc14827ed9a6

[galaxy_server.galaxy]
url=https://galaxy.ansible.com

