[defaults]
inventory = inventory

[galaxy]
#server_list = community, rh-certified, validated, galaxy
server_list = community, rh-certified, validated

[galaxy_server.community]
url=https://aap.lab.example.com/pulp_ansible/galaxy/community/
token=eab7d7946a6e480d366fccd6bc6ecc14827ed9a6

[galaxy_server.rh-certified]
url=https://aap.lab.example.com/pulp_ansible/galaxy/rh-certified/
token=eab7d7946a6e480d366fccd6bc6ecc14827ed9a6

[galaxy_server.validated]
url=https://aap.lab.example.com/pulp_ansible/galaxy/validated/
token=eab7d7946a6e480d366fccd6bc6ecc14827ed9a6

[galaxy_server.galaxy]
url=https://galaxy.ansible.com

